VMR/相关标准文件/20131219_vMR_LM_R2_201312_Informative_Publication/supplementary_files/Example_CCDA_to_vMR_mapping/vmrSchema/cdsoutput/cdsOutput.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Kensaku Kawamoto (University of Utah) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:cdsoutput:r2" xmlns:cdsout="urn:hl7-org:cdsoutput:r2" xmlns:vmr="urn:hl7-org:vmr:r2" targetNamespace="urn:hl7-org:cdsoutput:r2" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Specifies output data generated by CDS systems.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:hl7-org:vmr:r2" schemaLocation="../vmr/vmr.xsd"/>
	<xs:complexType name="CDSOutput" abstract="true">
		<xs:annotation>
			<xs:documentation>The parent class containing the data used by a CDS system to communicate inferences.  Can use the vMR data structure or a base data type to communicate the results.

 As a specific example, a CDSOutput may be used as the primary output data payload for a CDS guidance service compliant with the HL7 Decision Support Service standard.  Further information regarding this type of use case can be found in the HL7 Decision Support Service specification and the HL7 Decision Support Service Implementation Guide.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="templateId" type="vmr:CodedIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The identifier of a set of constraints placed on a CDS output.  If there are multiple templates specified for the element, then the element must satisfy ALL constraints defined in ANY template at that level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CDSOutputAsDataType" type="CDSOutputAsDataType"/>
	<xs:complexType name="CDSOutputAsDataType">
		<xs:annotation>
			<xs:documentation>A single data element of ANY data type as output of CDS.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="value" type="vmr:Value">
						<xs:annotation>
							<xs:documentation>The value of the CDS output.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CDSOutputAsStringNameValuePairs" type="CDSOutputAsStringNameValuePairs"/>
	<xs:complexType name="CDSOutputAsStringNameValuePairs">
		<xs:annotation>
			<xs:documentation>A set of string name value pairs to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="stringNameValuePair" type="vmr:StringNameValuePair" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A pair of strings used to communicate an output result from CDS</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CDSOutputAsVMR" type="CDSOutputAsVMR"/>
	<xs:complexType name="CDSOutputAsVMR">
		<xs:annotation>
			<xs:documentation>A vMR data structure used to communicate the results.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CDSOutput">
				<xs:sequence>
					<xs:element name="vmrOutput" type="vmr:VMR">
						<xs:annotation>
							<xs:documentation>Output from CDS structured as a VMR record</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
